body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #4e73df, #1cc88a);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.container {
  background: rgba(255,255,255,0.12);
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  backdrop-filter: blur(10px);
  color: white;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: #224abe;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2e59d9;
}

.card {
  background: rgba(255,255,255,0.2);
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}
